
@import url('https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400..700;1,400..700&display=swap');


body{
    background-color:  #3E8DA8;
}

/* *{
    transition: ease-in-out 0.3s;
} */
/* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px rgba(128, 128, 128, 0.178);
    border-radius: 10px;
    background-color: rgba(144, 214, 219, 0.534);
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: rgb(18, 35, 36);
    border-radius: 10px;
  }


.links a:hover {
    color: #000;
  }
  
  .links a::before {
    content: '';
    display: block;
    height: 3px;
    background-color: #0f6a94;
    /* border: 1px solid saddlebrown; */
  /* padding-left: -15px; */
  margin-left: -23px;
    position: absolute;
    /* top: 0; */
    bottom: 0;
    width: 0%;
  
    transition: all ease-in-out 250ms;
  }
  
  .links a:hover::before {
    width: 100%;
  }





/* main code start here  */



.main{
    /* margin-top: 70px; */
    width: 100%;
    height: auto;
}
/* for front page 
 */



 .front-page{
    
    /* border: 1px solid saddlebrown; */
    height: 100vh;
    width: 100%;
    background-color: #ccc;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: "Cabin", sans-serif;
    background-image: url(https://res.cloudinary.com/dyqlcy4nz/image/upload/v1729859014/bdlwdtqyldb4c0fxobzy.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
    
    
}
.front-child{
    font-size: 20px;
     font-family: "Cabin", sans-serif;
    /* border: 2px solid beige; */
    width: 55%;
    margin-top: -12%;
    margin-left: 15%;
    padding: 2vw 2vw;
 }
 .front-child h1::first-line{
    color: #1a5374;
 }
 .front-page h1{
font-size: 3em;
color: #D14836;
 }
 .front-child h3 span{
    color: goldenrod;
 }
 .front-child h3{
    color: #ECD06F;
 }
 .front-child .first-btn{
    width: 150px;
    height: 40px;
    margin-top: 15px;
    background-color: #183088;
    margin-left: 5vmin;
    /* font-size: 0.7em; */
    font-size: 0.8rem;
    color: white;
    border: none;
    border-radius: 14px;
    transition: ease-in-out 0.4s;
    cursor: pointer;
    box-shadow: rgba(20, 17, 202, 0.15) 0px 15px 25px, rgba(12, 23, 175, 0.05) 0px 5px 10px;

 }
 .first-btn:hover {
    background-color: #14286e;
 }
 .first-btn:hover {
   padding-left: 6px;
   transform: translateX(3px);
 }
 h1 {
  font-size: 9vmin;
  color: #8bf;
  text-align: left;
  font-family: Lato, sans-serif;
  font-weight: 700;
  margin: 1rem 0 1rem 2rem;
}

#f{
  font-size: 40px;
  
}

/* Typewriter effect 1 */
@keyframes typing {
  0.0000%, 27.3488% { content: ""; }
  1.1395%, 26.2093% { content: "f"; }
  2.2791%, 25.0698% { content: "fi"; }
  3.4186%, 23.9302% { content: "fin"; }
  4.5581%, 22.7907% { content: "find"; }

  30.7674%, 51.2791% { content: ""; }
  31.9070%, 50.1395% { content: "v"; }
  33.0465%, 49.0000% { content: "vi"; }
  34.1860%, 47.8605% { content: "vie"; }
  35.3256%, 46.7209% { content: "view"; }
  

  54.6977%, 75.2093% { content: ""; }
  55.8372%, 74.0698% { content: "d"; }
  56.9767%, 72.9302% { content: "do"; }
  58.1163%, 71.7907% { content: "down"; }
  59.2558%, 70.6512% { content: "downlo"; }
  60.3953%, 69.5116% { content: "downloa"; }
  61.5349%, 68.3721% { content: "download"; }

  78.6279%, 96.8605% { content: ""; }
  79.7674%, 95.7209% { content: "l"; }
  80.9070%, 94.5814% { content: "le"; }
  82.0465%, 93.4419% { content: "lea"; }
  83.1860%, 92.3023% { content: "lear"; }
  84.3256%, 91.1628% { content: "learn"; }
}

@keyframes blink {
  0%, 100% { opacity: 1; }
  50% { opacity: 0; }
}

.typewriter {
  --caret: currentcolor;
  color: rgb(131, 99, 18);
}

.typewriter::before {
  content: "";
  animation: typing 13.5s infinite;
}

.typewriter::after {
  content: "";
  border-right: 1px solid var(--caret);
  animation: blink 0.5s linear infinite;
}

.typewriter.thick::after {
  border-right: 1ch solid var(--caret);
}

.typewriter.nocaret::after {
  border-right: 0;
}


@media (prefers-reduced-motion) {
  .typewriter::after {
    animation: none;
  }
  
  @keyframes sequencePopup {
    0%, 100% { content: "developer"; }
    25% { content: "writer"; }
    50% { content: "reader"; }
    75% { content: "human"; }
  }

  .typewriter::before {
    content: "developer";
    animation: sequencePopup 12s linear infinite;
  }
}

@media (max-width:1025px) {
  .front-child{
    width: 800px;
  }
}
@media (max-width:1025px) {
  .front-child{
    width: 800px;
  }
  .front-child{
    font-size: 15px;
}
.first-btn{
    font-size: 25px;
}
#f{
  font-size: 32px;
}
}
 @media (max-width:769px) {
  .front-page{
    background-position: right;
  }
    .front-child{
        width: 90%;
        margin: 0;
        margin-top: -40px;
    }
    .front-child{
        font-size: 11px;
    }
    .first-btn{
        font-size: 25px;
    }
    #f{
      font-size: 30px;
    }

 }
 